@model IEnumerable<colorcom.Models.Item.item>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Itens</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Preço Venda
                                </th>
                                <th>
                                    Estoque
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Preço Compra
                                </th>
                                <th>
                                    Un. Medida
                                </th>
                                <th>
                                    EAN
                                </th>
                                <th>
                                    Qtd. Mínima
                                </th>
                                <th>
                                    Qtd. Máxima
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_titulo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.categoria.ca_descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_preco_venda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_quantidade)
                                    </td>
                                    <td>
                                        @if (item.it_status == true)
                                        {
                                            @Html.Label("Ativo")
                                        }
                                        else
                                        {
                                            @Html.Label("Inativo")
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_preco_compra)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.unidadeMedida.um_sigla)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_ean)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_min)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.it_max)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.it_cod }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.it_cod }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.it_cod })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/assets/custom-data-table.js"></script>