@model IEnumerable<colorcom.Models.Item.item>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria.ca_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadeMedida.um_sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_ean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_preco_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_preco_venda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.it_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.ca_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadeMedida.um_sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_ean)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_preco_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_preco_venda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.it_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.it_cod }) |
            @Html.ActionLink("Details", "Details", new { id=item.it_cod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.it_cod })
        </td>
    </tr>
}

</table>
