@model colorcom.ViewModels.Usuario.UsuarioFormViewModel

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <small class="card-title">Usuários > Usuário > <b>@Model.title</b></small>
                    </div>
                    <div class="card-body">
                        <p class="lead">Os campos marcados com <b class="red">*</b> são obrigatórios.</p>
                        <hr />
                        @using (Html.BeginForm("Save", "Usuario", new { id = "UsuarioForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            <label>Código</label>
                                            @Html.EditorFor(model => model.usuario.us_cod, new { htmlAttributes = new { @class = "form-control form-control-sm col disabled" } })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Login<b class="red">*</b></label>
                                            @Html.EditorFor(model => model.usuario.us_login, new { htmlAttributes = new { @class = "form-control form-control-sm col", @id = "TxtUsuarioLogin", @maxlength = "100" } })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Senha<b class="red">*</b></label>
                                            @Html.PasswordFor(model => model.usuario.us_senha, new { @class = "form-control form-control-sm col password" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Tipo de Usuário</label>
                                            @Html.DropDownListFor(model => model.usuario.us_tu_cod, new SelectList(Model.tiposUsuarios, "tu_cod", "tu_descricao"), "Usuario", new { @class = "form-control-sm form-control col-12", @id = "DropDownTipoUsuario" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Status</label>
                                        <div>
                                            @Html.CheckBoxFor(model => model.usuario.us_status, htmlAttributes: new { @id = "SwitchStatus", @onclick = "SetStatusLabel()" })
                                            <label id="lblStatus"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                            @Html.ActionLink("Voltar", "Index", "Usuario", new { @class = "btn btn-secondary btn-sm" })
                            @Html.HiddenFor(model => model.usuario.us_cod, new { @id = "us_cod" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>