<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Com</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themify-icons")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="icon" href="~/Content/images/colocom.ico" ) />

</head>
<body style="padding-top:unset; padding-bottom:unset">
    @Html.Partial("_SideBar")
    <div id="right-panel" class="right-panel">
        @Html.Partial("_Header")
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/assets")
    @RenderSection("scripts", required: false)
</body>
</html>
